body {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}


header {
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  width: 960px;
  align-items: center;
  display: flex;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
}

h2 {
  font-size: 1rem;
  padding: 0.66rem 1rem;
}

.banner {
background-image: url(/Users/sajover/Documents/Proyectos/SecretAgentSupply2/resources/images/moto.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 25rem;
display: flex;
justify-content: center;

}
.banner .container{
  align-items: flex-start;
}
.text-banner {
  background-color: black;
  font-weight: bold;
  width: 20rem;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.text-banner h1{
  font-size: 2rem;
  padding-top: 0.25rem;
}
.text-banner h2{
  padding-left: 0px;
}

@media only screen and (max-width:470px) {
  .banner {
  height: 15rem;
  }
  .text-banner {
    width: 100%;
    margin-top: 10rem;
    padding: 1rem 2rem;
  }
  .text-banner h1{
    font-size: 1rem;
    padding-top: 0.25rem;
  }
  .text-banner h2{
    font-size: 0.77rem;
  }
}


nav {
  background-color: firebrick;
  padding: 0.74rem 0rem;
  display: flex;
  justify-content: center;
}

nav ul {
  width: 960px;
  display: flex;
  justify-content: space-between;
}

nav.small-screen{
  display: none;
}

@media only screen and (max-width:1024px){
  nav {
    display: none;
  }
  nav.small-screen {
    background-color: firebrick;
    padding: 0.74rem 0rem;
    display: flex;
    justify-content: center;
  }
}


.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery .container{
  display: flex;
  justify-content: space-between;
}
.product {
  border:4px solid black;
  margin: 3rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.product span {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0rem;
}
.image-box {
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.product img {
  max-width: 8rem;
}

@media only screen and (max-width:1024px){
  .product{
    width: 47%;
  }
  .product.glasses{
    display: none;
  }
}
@media only screen and (max-width:470px){
  .product{
    width: 90%;
  }
  .product.glasses{
    display: none;
  }
  .product.watch{
    display: none;
  }
  .gallery .container{
    justify-content: center;
  }
}

/* Contact */
.contact {
  display: flex;
  justify-content: center;
}

 .address.container {
   display: flex;
   justify-content: space-between;

 }

.location{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 4rem;
}

.title {
  background-color: black;
  padding: 1rem 2rem;
}

.text {
  color: black;
  padding-top: 1rem;
}

@media only screen and (max-width: 1024px){
  .location {
    width: 35%;
  }
}
@media only screen and (max-width:470px){
  .address.container {
    justify-content: center;
    flex-direction: column;
  }

 .location{
   width: 90%;
 }

 .location.place{
   margin-bottom: 1.5rem;
 }

}



/* Footer */
footer {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 5rem;
}

@media only screen and (max-width:470px){
  footer .container{
    justify-content: center;
  }
}
